.app-container {
    height: 100%;
}

.header-row {
    height: 10%;
    margin-left: 0px;
    width: 100%;
}

.body-row {
    height: 90%;
    width: 100%;
    margin-left: 0px;
}

.sidebar-container {
    width:20%;
    padding-right: 0px;
    padding-left: 8px;
    margin-left: 0px;
}

.body-container {
    width: 80%;
    padding-left: 0px;
    padding-right: 0px;
}