.detailView {
    height: 100%;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

#imgCol.detailImg {
    background-size: 100% auto;
    background: url(https://static1.squarespace.com/static/586d74a903596e659c26fbd4/t/5aefc5d8758d4670efb7c1bd/1525663217587/banana+bread.png)
}

.detailImg {
    width: auto;
    height: auto;
}

.descriptionRow {
    width: 100%;
}

.ingredRow {
    width: 100%;
}

.detail-gutter {
    width: 10%;
    padding-left: 0px;
    padding-right: 0px;
}

.btn-row {
    display: flex;
    justify-content: center;
    background-color: green;
}